*{font-family:'Lato',sans-serif;scroll-behavior:smooth;text-decoration:none;}
body{margin:0px;font-size:16px;box-sizing:border-box;overflow:hidden;overflow-y:auto;font-family:'Lato',sans-serif;background:#fff;position:relative;}
body.no-overflow{overflow:hidden !important;}
#custom-loader{display:none;z-index:99999;position:fixed;left:0;right:0;top:0;bottom:0;background:#00000026;}
#custom-loader .inner{display:flex;align-items:center;justify-content:center;height:100%;}
:root{--toastify-toast-width:350px !important;}

.rt-text {font-size:16px;line-height:26px;margin:0 0 15px;color:#333;}
.rt-text-head {font-weight:600;color:#255a65;}
.rt-lists {list-style-image:url(../images/list.png);display:flex;flex-direction:column;row-gap:8px;}
.rt-lists .rt-list-item {font-size:16px;line-height:22px;padding-left:5px;color:#333;}
.rt-text-heading {font-size:20px;font-weight:600;margin:0 0 15px;color:#255a65;}

.row-group{width:100%;display:flex;flex: 1;column-gap: 20px;}
.form-group{width: 100%;display:flex;flex-direction: column;margin:0 0 20px;}
input{height:25px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;border:1px solid #ccc;border-radius:4px;}
textarea{height:108px;width:100%;max-width:100% ;padding:6px 12px;font-size:14px;border-radius:4px;border: 1px solid #ccc;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.btn-primary{background:#283b5c;color:#fff;padding:8px 30px;font-size:18px;border:1px solid transparent;border-radius:4px;cursor:pointer;}
.btn-primary:hover{background:#255a65;}
.rt-nav-list:hover .rt-nav-list-dropdown{display: block;}
.home-heading{font-size:23px;font-weight:700;color:#255a65;text-align:center;line-height:45px;}
.has-cust-error{padding:5px 0;font-size:13px;color:#fe0102;}
@media (max-width:440px) {
    .row-group{flex-direction: column;}
    .textarea{width:100% ;}
}
